$primary: #39767b;
$primary-hover: #257e89;
$secondary: #6c757d;
$dark: #000000;
$light: #f8f9fa;
$white: #fff;
$bg-color: #f5f5f5;
$fountain-blue-color: #5fa6ac;   

$font-family-base: 'Roboto', sans-serif;
