$primary: #007bff;
$secondary: #6c757d;
$dark: #000000;
$light: #f8f9fa;
$white: #fff;
$main-color: #39767b;
$bg-color: #f5f5f5;
$fountain-blue-color: #5fa6ac;   

$font-family-base: 'Roboto', sans-serif;
