$primary: #39767b;
$primary-hover: #257e89;
$secondary: #5fa6ac;
$secondary-hover: #257e89;
$dark: #000000;
$light: #f8f9fa;
$white: #fff;
$bg-color: #f5f5f5;


$font-family-base: 'Roboto', sans-serif;
$font-family-heading: 'Myriad Pro', sans-serif;