@import "base/variables"; // allows $primary to be impo@importd everywhere
@import "base/mixins";
@import "components/buttons";
@import "components/header";
@import "components/hero";
@import "components/browse-categories";
@import "components/product-card";
@import "components/gift-sets";
@import "components/sustainable";
@import "components/our-brands";
@import "components/video-section";
@import "components/gift-collection";
@import "components/footer";
@import "components/form";

@import "components/breadcrumb";
@import "components/product-detail";
@import "components/product-specifications";

@import "components/listing-header";
@import "components/product-listing";

@import "components/pagination";

@import "components/cart";

@import "components/checkout";

@import "components/order-summary";

@import "components/login";

@import "components/profile";
@import "components/saved-card";

html {
	background-color: $bg-color;
}

body {
	font-family: $font-family-base;
	max-width: 2000px;
	overflow-x: hidden;
	margin: 0 auto;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
	background-color: $bg-color;
}


.bg-primary {
	background-color: $primary !important;
}

