.browse-categories {
  background-color: var(--color-background);
  padding: 3rem 0;

  .section-title {
    font-size: var(--font-size-7xl);
    font-weight: 500;
    font-family: var(--font-family-primary);
    color: #222;
  }

  .category-icons {
    gap: 2rem;
    .category-item {
      .category-icon {
        width: 40px;
        height: 40px;
        opacity: 0.6;
        transition: opacity 0.3s, transform 0.3s;
        cursor: pointer;

        &.active {
          opacity: 1;
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
        }

        &:hover {
          opacity: 1;
          transform: scale(1.1);
        }
      }
    }

    .dot-separator {
      font-size: var(--font-size-7xl);
      color: #ccc;
      user-select: none;
    }
  }

  @media (max-width: 767.98px) {
		.category-icons {
			gap: 0.75rem;
		}
	}
}
