.btn-primary {
	background-color: $primary !important;
	border-color: $primary !important;
	border-radius: 0;
	padding: 0.85rem 3rem;
	letter-spacing: 0.1em;

	&:hover, &:active, &:focus {
		background: $primary-hover !important;
		border-color: $primary-hover !important;
		color: $white !important;
	}
}

.btn-outline-primary {
	background-color: $white !important;
	color: $dark !important;
	border-color: $primary !important;
	border-radius: 0;
	padding: 0.85rem 3rem;
	letter-spacing: 0.1em;

	&:hover, &:active, &:focus {
		background: $primary-hover !important;
		border-color: $primary-hover !important;
		color: $white !important;
	}
}

.btn-secondary {
	background-color: $secondary !important;
	border-color: $secondary !important;
	border-radius: 0;
	padding: 0.85rem 3rem;
	letter-spacing: 0.1em;

	&:hover, &:active, &:focus {
		background: $secondary-hover !important;
		border-color: $secondary-hover !important;
		color: $white !important;
	}
}