.btn {
	border-radius: 0;
	padding: 0.87rem 1.75rem;
	letter-spacing: 0.1em;
}

.btn-primary {
	background-color: var(--color-primary);
	color: var(--color-light);
	border-color: var(--color-primary);

	&:hover,
	&:active,
	&:focus {
		background: var(--color-primary-dark) !important;
		color: var(--color-light) !important;
		border-color: var(--color-primary-dark) !important;
	}
}

.btn-outline-primary {
	background-color: var(--color-light);
	color: var(--color-dark);
	border-color: var(--color-primary);

	&:hover,
	&:active,
	&:focus {
		background: var(--color-primary-dark) !important;
		color: var(--color-light) !important;
		border-color: var(--color-primary-dark) !important;
	}
}

.btn-secondary {
	background-color: var(--color-secondary);
	color: var(--color-light);
	border-color: var(--color-secondary);

	&:hover,
	&:active,
	&:focus {
		background: var(--color-primary-dark) !important;
		color: var(--color-light) !important;
		border-color: var(--color-primary-dark) !important;
	}
}
