.cc-select {
	min-width: 140px;
	font-size: 1.08rem;
	font-weight: 500;
	@include select-shared;

	&:focus {
		border-color: $main-color;
		outline: 0;
		box-shadow: 0 0 0 0.25rem $main-color;
	}

	option:checked {
		background: $main-color;
		color: $white;
	}
}


.cc-form-check-input:checked {
	background-color: $main-color;
	border-color: $main-color;
}

.cc-price-range {
	.noUi-target {
		background: transparent;
		border: none;
		box-shadow: none;
		height: 4px;
		margin-top: 0.5rem;
	}
	.noUi-base {
		background: #222;
		border-radius: 2px;
		height: 2px;
	}
	.noUi-connect {
		background: #008ba0;
		height: 2px;
	}
	.noUi-horizontal .noUi-handle {
		top: -7px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #fff;
		border: 2px solid #008ba0;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		transition: border 0.2s;
	}
	.noUi-handle:after,
	.noUi-handle:before {
		display: none;
	}
	.price-label {
		font-size: 1rem;
		font-weight: 500;
		color: #222;
	}
}
