.listing-header {
	background: $bg-color;

	.section-title {
		font-size: 2.3rem;
		font-weight: 400;
		letter-spacing: -1px;
	}

	.sort-label {
		font-size: 1.12rem;
		font-weight: 700;
	}
}

@media (max-width: 575px) {
	.listing-header {
		.row {
			flex-direction: column;
			gap: 1.3rem;
			text-align: left;
		}
		.col-lg-3,
		.col-lg-6 {
			width: 100%;
			max-width: 100%;
			flex: 0 0 100%;
		}
		.col-lg-3:last-child {
			justify-content: flex-start !important;
		}
	}
}
