.sustainable-section {
	background-color: var(--color-background);

	.bg-beige {
		background-color: #ede3d7;
	}

	.sustainable-heading {
		font-family: var(--font-family-primary);
		font-size: var(--font-size-16xl);
		line-height: 1.2;
		color: #222;
	}

	// Add spacing to the left text content
	.sustainable-content {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	// Image column as background
	.sustainable-bg-image {
		background-image: url('../images/sustainable.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 480px;
	}


	@media (max-width: #{$screen-xl - 1}) {
		.sustainable-content {
			.sustainable-heading {
				font-size: var(--font-size-10xl);
			}
		}
	}

	@media (max-width: #{$screen-md - 1}) {
		.sustainable-content {
			padding-top: 2rem;
			padding-bottom: 2rem;

			.sustainable-heading {
				font-size: var(--font-size-9xl);
			}
		}

	}
}
