// ===================================
// Root Variables (Colors)
// ===================================

:root {
  --color-primary: #39767b;
  --color-primary-dark: #257e89;
  --color-secondary: #5fa6ac;
  --color-secondary-light: #78b8bb;
  --color-tertiary: #f9f9f9;
  --color-accent: #008ba0;
  --color-light: #ffffff;
  --color-light-muted: #999999;
  --color-dark: #000000;
  --color-dark-muted: #6c757d;
  --color-text: #222222;
  --color-grey: #f7f7f7;
  --color-blue-light: #eaf6fb;
  --color-background: #f7f7f7;
  --color-footer: #1a1a1a;
}
