.features-strip-section {
    position: relative;
    background-color: var(--color-footer);

    /* Main strip */
    .features-strip {
        position: relative;
        z-index: 2;
        border-bottom: 1px solid var(--color-light-muted);
        padding: 3rem 0;
        /* Single feature item */
        .item {
            display: flex;
            flex-direction: row;
            align-items: start;
            gap: 0.75rem;
            // background-color: var(--color-footer);
            border-radius: 0.5rem;
            transition: background 0.2s ease;

            &:hover {
                background: rgba(0, 0, 0, 0.02);
            }

            /* icon */
            .icon-wrap {
                flex: 0 0 44px;
                width: 44px;
                height: 44px;
                display: grid;
                place-items: center;
                border: 2px solid var(--color-light);
                color: var(--color-light);
                border-radius: 0.5rem;
                font-size: 1.2rem;
                background: var(--color-footer);
            }

            /* text */
            .title {
                margin: 0;
                font-weight: 700;
                color: var(--color-light);
                font-size: 1rem;
            }

            .sub {
                margin: 0;
                color: var(--color-light-muted);
                font-size: var(--font-size-sm);
            }
        }
    }
}

