.site-footer {
    background: var(--color-footer);
    color: var(--color-light);

    a {
        text-decoration: none;
    }

    /* Main footer */
    .footer-top {
        .footer-logo {
            max-width: 170px;
        }
        .footer-about {
            color: var(--color-light-muted);
            font-size: 0.95rem;
        }
        .footer-title {
            font-size: 0.9rem;
            font-weight: 700;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }
        .footer-links{
            display: flex;
            flex-direction: column;
            a,p {
                color: var(--color-light-muted);
                font-size: 0.9rem;
                text-decoration: none !important;
                display: inline-block;
                margin-bottom: 0.5rem;
                &:hover {
                    color: var(--color-secondary);
                }
            }
        }
        .social-icons a {
            color: #fff;
            font-size: var(--font-size-7xl);
            transition: all 0.2s;
            text-decoration: none;
            &:hover {
                color: var(--color-secondary);
                transform: translateY(-2px);
            }
        }
    }

    /* Bottom bar */
    .footer-bottom {
        background: #000;
        border-top: 1px solid rgba(255, 255, 255, 0.08);

        .copy {
            color: var(--color-light-muted);
            font-size: 0.85rem;
        }
        .footer-mini-links a {
            color: var(--color-light-muted);
            font-size: 0.85rem;
            &:hover {
                color: var(--color-secondary);
            }
        }

        .payment-icons .pay {
            padding: 2px 4px;
            border-radius: 4px;
            background: #fff;
            color: #000;
            font-size: 0.75rem;
            font-weight: 700;
            transition: transform 0.2s, opacity 0.2s;
            &:hover {
                transform: translateY(-2px);
                opacity: 1;
            }

            img{
                width: 30px;
                height: 20px;
            }
        }
    }
}
