.gift-set-section {
    background-color: var(--color-light);

    .gift-set-boxes {
        min-height: 600px;
        display: flex;
        flex-wrap: wrap;

        .gift-box {
            position: relative;
            overflow: hidden;
            color: var(--color-dark);
            padding: 58px 64px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .gift-img {
                // mix-blend-mode: multiply;
            }

            &:hover {
                .gift-img {
                    transform: scale(1.2);
                    transition: transform 0.8s ease;
                }
            }

            .price-bar {
                padding: 2px 0 2px 30px;
                height: 47px;
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                width: fit-content;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;

                .price {
                    font-size: var(--font-size-7xl);
                    color: black;
                    font-weight: 600;
                }

                i {
                    color: black;
                }
            }
        }

        .gift-left {
            background-color: #181a32 !important;
            display: flex;
            height: 599px;
            position: relative;
            flex-direction: column;
            justify-content: space-between;

            .gift-box-item {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
                z-index: 2;

                .gift-content-box {
                    display: flex;
                    color: #fff;
                }

                .gift-img-box {
                    background-color: #181a32 !important;
                    display: flex;
                    height: 100%;
                    width: 100%;

                    align-items: center;
                    justify-content: center;

                    .gift-img {
                        max-height: 290px;
                        width: auto;
                        // max-width: 70%;
                        // max-height: 70%;
                        object-fit: cover;
                        transition: transform 0.8s ease;
                    }
                }
            }
        }

        .gift-right-half {
            flex: 1 1 auto !important;
            height: 278px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:nth-of-type(odd) {
                background-color: #3c3e5d !important;
                color: var(--color-dark) !important;
            }

            &:nth-of-type(even) {
                background-color: #0e9a8d !important;
                color: var(--color-dark) !important;
            }

            .gift-box-item {
                display: flex;
                flex-direction: row;
                height: 100%;
                justify-content: space-between;

                .gift-content-box {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    justify-content: space-between;
                    color: #fff;
                }

                .gift-img-box {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    align-items: end;
                    justify-content: center;

                    .gift-img {
                        height: 188px;
                        width: auto;
                        object-fit: contain;
                        // mix-blend-mode: multiply;
                        transition: transform 0.8s ease;
                    }
                }
            }
        }
    }

    @media (max-width: ($screen-xl - 1)) {
        .gift-box {
            padding: 30px 24px !important;

        }

        .gift-box-item {
            gap: 10px !important;

            .price {
                font-size: var(--font-size-5xl) !important;
            }
        }
    }

    @media (max-width: ($screen-lg - 1)) {
        .gift-set-boxes {
            gap: 1.5rem;

            .gift-img {
                max-width: 80% !important;
                max-height: 80% !important;
            }
        }

        .gift-left {
            .gift-box-item {
                .gift-content-box {
                    flex-direction: column;
                    justify-content: space-between;
                }

                flex-direction: row !important;

                .gift-content-box {
                    flex: 1;
                }

                .gift-img-box {
                    flex: 1;
                }
            }
        }

        .gift-right-half {
            .gift-box-item {
                flex-direction: row !important;
                gap: 1rem;

                .gift-content-box {
                    flex: 1;
                }

                .gift-img-box {
                    flex: 1;
                }
            }
        }

        .gift-box-item {
            gap: 1.5rem;

            .price {
                font-size: var(--font-size-5xl) !important;
            }
        }
    }

    @media (max-width: ($screen-md - 1)) {
        .gift-left {
            .gift-box-item {
                flex-direction: column !important;

                .gift-img-box {
                    align-items: center !important;
                }
            }
        }

        .gift-right-half {
            .gift-box-item {
                // flex-direction: column !important;

                .gift-img-box {
                    // align-items: center !important;
                }
            }
        }
    }
}