.newsletter-section {
    background: #ffffff; // subtle light blue like screenshot
    padding: 5rem 1rem;

    .subtitle {
        font-size: 22px;
        font-family: "Inter";
        color: rgb(40, 40, 40);
        line-height: 1.2;
        font-weight: 400;
        margin-bottom: 0.1rem;


    }

    .newsletter-title {
        font-family: "DM Sans";
        font-size: 75.693px;
        color: rgb(0, 0, 0);
        line-height: 0.972;
        font-weight: 700;
        margin-bottom: 2rem;

    }

    .newsletter-form {
        display: flex;
        justify-content: center;

        .newsletter-input {
            background-color: #e3e3e3;
            border-radius: 5px;
            box-shadow: 0px 0px 25.11px 1.89px rgba(113, 113, 113, 0.26);
            padding: 0 0 0 2rem;
            height: 55px;
            max-width: 420px;
            width: 100%;
            position: relative;

            .icon {
                font-size: 1.2rem;
                color: #000000;
                margin-right: 0.75rem;
            }

            .form-control {
                border: none;
                flex: 1;
                font-size: 1rem;
                padding: 0.75rem 0;
                box-shadow: none;
                outline: none;
                background-color: #e3e3e3;
            }

            .btn-submit {


                border-radius: 6px;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 0px 25.11px 1.89px rgba(113, 113, 113, 0.26);
                border: none;
                width: 58px;
                height: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 0.5rem;
                font-size: 1.25rem;
                color: #111;
                box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
                transition: all 0.2s ease;

                &:hover {
                    background: var(--color-secondary);
                    color: var(--color-light);
                    transform: translateY(-1px);
                }
            }
        }
    }

    @media (max-width: ($screen-lg - 1)) {
        .newsletter-title {
            font-size: var(--font-size-14xl);
        }
    }

    @media (max-width: ($screen-sm - 1)) {

        .newsletter-title {
            font-size: var(--font-size-11xl);
        }

        .subtitle {
            font-size: var(--font-size-5xl);
        }
    }
}