.offer-banner {
    position: relative;

    .container{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .title-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
            text-decoration: none;
            font-size: var(--font-size-9xl);
            font-weight: 500;
            margin-bottom: 15px;
            line-height: 1;

            span {
                font-weight: 600;
                font-size: var(--font-size-16xl);
            }
        }
    }

    .action-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        a {
            text-decoration: underline;
            text-underline-offset: 12px;
            text-decoration-thickness: 2px;
            color: var(--color-dark);
            font-size: var(--font-size-5xl);
            font-weight: 500;
            transition: font-size 0.2s ease-in;

            &::after {
                content: none;
            }

            &:hover {
                font-size: var(--font-size-6xl);
            }
        }
    }

    .promo-img {
        max-width: 100%;
    }

    @media (max-width: ($screen-lg - 1)) {
        .title-area {
            margin-top: 2rem;
            text-align: center;

            .title{
                font-size: var(--font-size-8xl);
                span{
                    font-size: var(--font-size-11xl);
                }
            }
        }

        .action-area{
            align-items: center;
            padding: 2rem;
        }
    }
}
