.video {
    .video-content {
        .video-bg {
            position: relative;
            display: inline-block;

            .video-image {
                border-radius: 20px;
            }
        }

        .video-player {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                position: relative;
                /* required for pseudo-elements */
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90px;
                height: 90px;
                background: rgba(0, 0, 0, 0.6);
                border-radius: 50%;
                transition: background 0.3s ease;
                overflow: visible;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0.5);
                    width: 200px;
                    /* bigger than button */
                    height: 200px;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, 0.5);
                    opacity: 0;
                    animation: wavePulse 3s ease-in-out infinite;
                    pointer-events: none;
                    z-index: -1;
                }

                &::after {
                    animation-delay: 1.5s;
                }
                &::hover {
                    background: rgba(0, 0, 0, 0.8);
                }
            }
        }
    }
}
